@page
@model DanielsTools.Pages.Multiplication.MultiplyModel
@{
    ViewData["Title"] = "Multiply";
}
<style>
    }
</style>
<link rel="stylesheet" href="~/css/multiply.css" />
<script src="~/js/multiply.js"></script>
<script type="text/javascript">
    const EMOJI_DICTIONARY = JSON.parse('@Html.Raw(Json.Serialize(Model.EmojiDictionary))');

</script>

<div class="d-lg-none hide_during_test">
    <nav class="navbar navbar-expand-lg navbar-light bg-light hide_during_test">
        <div class="container-fluid">
            <a id="smallUserDiv" class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    @*<div id="currentUserDiv" class="col-md-6">
                        </div>*@
                    <a class="nav-link active" aria-current="page" href="#">

                    </a>
                    <button type="button" class="btn btn-success large_button nav-link hide_during_test" data-bs-toggle="modal" data-bs-target="#youTubeModal">
                        <i class="bi bi-coin"></i>
                    </button>
                    <button type="button" class="btn btn-success large_button nav-link hide_during_test" data-bs-toggle="modal" data-bs-target="#settingsModal">
                        <i class="bi bi-gear"></i>
                    </button>
                    <button type="button" class="btn btn-primary large_button hide_during_test nav-link" data-bs-toggle="modal" data-bs-target="#usersModal">
                        <i class="bi bi-people"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>


<div class="row">
    <div id="currentUserDiv" class="col hide_during_test d-none d-lg-block d-xl-block">
    </div>


    <div class="topcorner col-auto hide_during_test d-none d-lg-block d-xl-block">

        <button type="button" class="btn btn-success large_button hide_during_test" data-bs-toggle="modal" data-bs-target="#youTubeModal">
            <i class="bi bi-coin"></i>
        </button>
        <button type="button" class="btn btn-success large_button hide_during_test" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <i class="bi bi-gear"></i>
        </button>
        <button type="button" class="btn btn-primary large_button hide_during_test" data-bs-toggle="modal" data-bs-target="#usersModal">
            <i class="bi bi-people"></i>
        </button>
    </div>
</div>






<div class="row hide_during_test">
    <button id="start_practice_button" type="button" class="btn btn-primary large_button">
        <i class="bi bi-play"></i>Start Practice
    </button>
</div>

<div class="row hide_during_test">
    <button id="start_timing_button" type="button" class="btn btn-primary large_button">
        <i class="bi bi-stopwatch"></i>Start Timing
    </button>
</div>

<div class="row show_during_test">
    <div class="row unselectable">
        <span id="firstNumberDiv" class="current_problem  unselectable col-md-2"></span>
        <span id="operationDiv" class="current_problem unselectable col-md-2"></span>
        <span id="secondNumberDiv" class="current_problem unselectable col-md-2"></span>
        <input id="answerTextBox" class="current_problem col-md-3" type="text" />
    </div>
</div>

<span id="secondsSpan" class="current_problem  unselectable timer_class show_during_timed_test">00</span>

<span id="" class="show_after_timed_test current_problem  unselectable timer_class">Correct Count:</span><span id="correctCountSpan" class="show_after_timed_test current_problem  unselectable timer_class">0</span>

<div class="row show_during_test">
    <button id="stop_timing_button" type="button" class="btn btn-warning large_button">
        <i class="bi bi-sign-stop"></i>Stop
    </button>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-6">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success setting_button" data-bs-toggle="modal" data-bs-target="#numbersModal">
                                <i class="bi bi-list-ol"></i>  Numbers
                            </button>
                        </div>

                        <div class="col-md-6">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success setting_button" data-bs-toggle="modal" data-bs-target="#operationsModal">
                                <i class="bi bi-plus-slash-minus"></i>  Operations
                            </button>
                        </div>

                        <div class="col-md-6">
                            <!-- Button trigger modal -->
                            <button id="onChooseNameButton" type="button" class="btn btn-success setting_button" data-bs-toggle="modal" data-bs-target="#chooseNameModal">
                                <i class="bi bi-person"></i> User Settings
                            </button>
                        </div>

                        <div class="col-md-6">
                            <!-- Button trigger modal -->
                            <button id="onChooseNameButton" type="button" class="btn btn-danger setting_button" data-bs-toggle="modal" data-bs-target="#chooseNameModal">
                                <i class="bi bi-trash"></i> Delete User
                            </button>
                        </div>


                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Numbers Modal -->
<div class="modal fade" id="numbersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Multiplication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 number_background_1 extra_space">
                            <div class="row">
                                <div class="col-md-12 large_label">First Number</div>
                            </div>
                            <div class="row">
                                @for (int x = 1; x <= 12; x++)
                                {
                                    <div class="col-4">
                                        <button id="buttonnumber_@Html.Raw(1)_@Html.Raw(x)" class="number_button unselectable">
                                            <div>@x</div>
                                            <div id="onoffnumber_@Html.Raw(1)_@Html.Raw(x)" class="on_off_label">&nbsp;</div>
                                        </button>
                                    </div>
                                }
                                <div class="col-4">
                                    <button id="buttonnumber_@Html.Raw(1)_@Html.Raw(0)" class="number_button unselectable">
                                        <div>0</div>
                                        <div id="onoffnumber_@Html.Raw(1)_@Html.Raw(0)" class="on_off_label">&nbsp;</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 number_background_2 "> </div>
                        <div class="col-md-5 number_background_2 extra_space">
                            <div class="row">
                                <div class="col-md-12 large_label">Second Number</div>
                            </div>
                            <div class="row">
                                @for (int x = 1; x <= 12; x++)
                                {
                                    <div class="col-4">
                                        <button id="buttonnumber_@Html.Raw(2)_@Html.Raw(x)" class="number_button unselectable">
                                            <div>@x</div>
                                            <div id="onoffnumber_@Html.Raw(2)_@Html.Raw(x)" class="on_off_label">&nbsp;</div>
                                        </button>
                                    </div>
                                }
                                <div class="col-4">
                                    <button id="buttonnumber_@Html.Raw(2)_@Html.Raw(0)" class="number_button unselectable">
                                        <div>0</div>
                                        <div id="onoffnumber_@Html.Raw(2)_@Html.Raw(0)" class="on_off_label">&nbsp;</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Operations Modal -->
<div class="modal fade" id="operationsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Operations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <button id="add_operation_button" class="unselectable operation_button">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="bi bi-plus-lg"></i>
                                    </div>
                                    <div class="col-8">
                                        <div class="operation_button_label">Add</div>
                                    </div>
                                    <div id="onoff_add" class="on_off_label">&nbsp;</div>
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="subtract_operation_button" class="unselectable operation_button">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="bi bi-plus-lg"></i>
                                    </div>
                                    <div class="col-8">
                                        <div class="operation_button_label">Subtract</div>
                                    </div>
                                    <div id="onoff_sub" class="on_off_label">&nbsp;</div>
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="multiply_operation_button" class="unselectable operation_button">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="bi bi-x-lg"></i>
                                    </div>
                                    <div class="col-8">
                                        <div class="operation_button_label">Multiply</div>
                                    </div>
                                    <div id="onoff_multiply" class="on_off_label">&nbsp;</div>
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="divide_operation_button" class="unselectable operation_button">
                                <div class="row">
                                    <div class="col-4 divide_icon">
                                        <i class="bi bi-percent"></i>
                                    </div>
                                    <div class="col-8">
                                        <div class="operation_button_label">Divide</div>
                                    </div>
                                    <div id="onoff_divide" class="on_off_label">&nbsp;</div>
                                </div>
                            </button>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" id="swapNumbers" name="swapNumbers" checked />
                            <label for="swapNumbers" class="unselectable">Randomly Flip Numbers</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Select User Modal -->
<div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Select Your User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div id="userList" class="row">
                            </div>
                            <div class="row">
                                <span id="userListErrorSpan" class="error_text"></span>
                            </div>
                            <p />
                            <p />
                            @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseNameModal">
                                    Create New User
                                </button>*@
                        </div>

                    </div>
                </div>
            </div>
            @*             <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> *@
        </div>
    </div>
</div>

<!-- Create User - Name Modal -->
<div class="modal fade" id="chooseNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Choose A Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <br />


                    <div class="row">
                        <div class="col-md-9 ml-auto">
                            <input class="large_input_field" type="text" id="newUsernameTextBox" name="newUsernameTextBox" placeholder="Enter your first name..." />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <span id="nameErrorSpan" class="error_text"> </span>
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary large_button" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="setNewUsernameButton" class="btn btn-primary large_button">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- New User - Avatar modal   -->
<div class="modal fade" id="chooseAvatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Choose Your Avatar</h1>

                <input style="margin-right: 5px; float:right;" type="text" id="emojiSearchBox" name="emojiSearchBox" placeholder="Search Emojis" />
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="scrollable_area">
                            <div class="row">
                                @foreach (var item in Model.EmojiList)
                                {
                                    <button id="emoji_@Html.Raw(@item.Id)_button" class="col-md-1 emoji_font emoji_button" name="@item.Description">@Html.Raw(@item.Code)</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span id="avatarErrorSpan" class="error_text"> </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="backAvatarButton" type="button" class="btn btn-secondary large_button" data-bs-dismiss="modal">Back</button>
                <button id="setAvatarButton" type="button" class="btn btn-primary large_button">Next</button>
            </div>
        </div>
    </div>
</div>


<!-- New User Color Modal-->
<div class="modal fade" id="chooseColorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Your Color</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row">
                        <div>
                            <div class="row">
                                @foreach (var item in Model.Colors)
                                {
                                    <div class="col-md-3 ">
                                        <button class="color_button not_chosen_color_border" name="@item">
                                            <div class="row">
                                                <div class="col-md-5 color_choice" style="background-color: @item"></div>
                                                <div class="col-md-5 color_label">@Html.Raw(@item)</div>
                                            </div>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="backColorButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                <button id="setColorButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save User</button>
            </div>
        </div>
    </div>
</div>

<!-- Message Modal-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="MessageModalTitle" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <span id="MessageModalBodyText" class=""></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- You Tube Modal-->
<div class="modal fade" id="youTubeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="MessageModalTitle" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <iframe width="315" height="560"
                                src="https://www.onlinegames.io/games/2024/unity/drift-king/index.html"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
