@page
@model DanielsTools.Pages.Mathamania.ModifyUserModel
@{
    bool isNewUser = true;
    string userId = "";
    if (HttpContext.Request.Query.ContainsKey("UserId"))
    {
        var userIdValue = HttpContext.Request.Query["UserId"];
        var userIdString = userIdValue.ToString();
        if (!string.IsNullOrWhiteSpace(userIdString))
        {
            isNewUser = false;
        }
    }

    if (isNewUser)
    {
        ViewData["Title"] = "Create User";

    }
    else
    {
        ViewData["Title"] = "Update User";
    }
}

<link rel="stylesheet" href="~/css/math.css" />
<script type="text/javascript">
    const EMOJI_DICTIONARY = JSON.parse('@Html.Raw(Json.Serialize(Model.EmojiDictionary))');

    @if (isNewUser)
    {
        @Html.Raw("var createNewUser = true;");
        @Html.Raw("var modifyUserId = '';");
    }
    else
    {
        @Html.Raw("var createNewUser = false;");
        @Html.Raw("var modifyUserId = '" + userId + "';");

    }
</script>
<script src="~/js/shared_math.js" asp-append-version="true" ></script>
<script src="~/js/modify_user.js" asp-append-version="true" ></script>

<h1>Modify User</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @*<span id="updateProfileTextBox" class="large_input_field"  />*@
            @*<input id="updateProfileTextBox" type="text" class="large_input_field" placeholder="Enter your first name..." />*@

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <button id="updateNameButton" type="button" class="btn btn-success small_button" data-bs-toggle="modal" data-bs-target="#chooseNameModal">
                    <span>Update Name</span>
                </button>
            </div>
            <div class="row">
                <button id="updateProfileAvatarButton" type="button" class="btn btn-success small_button align-self-center" data-bs-toggle="modal" data-bs-target="#chooseAvatarModal">
                    <span>Update Avatar</span>
                </button>
            </div>
            <div class="row">
                <button id="updateProfileColorButton" type="button" class="btn btn-success small_button align-self-center" data-bs-toggle="modal" data-bs-target="#chooseColorModal">
                    <span>Update Color</span>
                </button>
            </div>
        </div>
        <div class="col-4">
            <div class='user_button_div'><button id="currentUserProfileColor" style='width: 100%;'><div id="currentUserProfileAvatarDiv" class='user_emoji_font'></div><div><p id="currentUserProfileNameSpan" class='user_label_font'></p></div></button></div>

        </div>
        <div class="col">

        </div>

    </div>
    <div class="row unselectable">
        <div class="col"></div>
        <div class="col-4">
        </div>
        <div class="col"></div>

    </div>

    <div class="row unselectable">
        <button type="button" id="cancelUserChangesButton" class="btn btn-secondary large_button">Cancel</button>
        <button type="button" id="updateUserProfileButton" class="btn btn-primary large_button">Save</button>
    </div>
</div>


<!-- Numbers Modal -->
<div class="modal fade my_modal" id="numbersModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Numbers For Problems</h5>
                <button type="button" class="btn-success" data-bs-dismiss="modal" >Save Changes</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 number_background_1 extra_space">
                            <div class="row">
                                <div class="col-md-12 large_label">First Number</div>
                            </div>

                            <div class="row">
                                @for (int x = 0; x <= 12; x++)
                                {
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                                        <button id="buttonnumber_@Html.Raw(1)_@Html.Raw(x)" name="buttonnumber_@Html.Raw(1)_@Html.Raw(x)" class="number_button unselectable">

                                            <!-- This will change the layout of the button for larger screens-->
                                            <div class=" d-none  d-lg-block">
                                                <div class="row">
                                                    <div class="col-6 align-self-center centered_numbered">
                                                        <span>@x</span>
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                        <div class="small_button_font justify-content-md-center">
                                                            ON
                                                        </div>
                                                        <div class="">
                                                            <div id="parentFirstNumber_@Html.Raw(1)_@Html.Raw(x)" class="toggle_rotate_270 ">
                                                                <i id="firstNumber_@Html.Raw(1)_@Html.Raw(x)" class="bi "></i>
                                                            </div>
                                                        </div>
                                                        <div class="small_button_font justify-content-md-center">
                                                            OFF
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- This will change the layout of the button for smaller screens-->

                                            <div class="d-lg-none">
                                                <div class="row">
                                                    <div class="col-12 align-self-center">
                                                        @x
                                                    </div>

                                                    <div class="col-12">
                                                        <div id="onoffnumber_@Html.Raw(1)_@Html.Raw(x)" class="on_off_label">ON</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                }

                                @*<div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                        <button id="allon_1" name="buttonnumber_@Html.Raw(2)" class="col-2 number_button unselectable btn-info">All On</button>
                                    </div>*@
                            </div>

                            <div class="col"></div>
                            <div class="col"></div>
                        </div>

                    </div>
                </div>
                @*<div class="col-md-1 number_background_2 "> </div>*@
                <div class="col-md-12 number_background_2 extra_space">
                    <div class="row">
                        <div class="col-md-12 large_label">Second Number</div>
                    </div>

                    <div class="row">
                        @for (int x = 0; x <= 12; x++)
                        {
                            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                                <button id="buttonnumber_@Html.Raw(2)_@Html.Raw(x)" name="buttonnumber_@Html.Raw(2)_@Html.Raw(x)" class="number_button unselectable">

                                    <!-- This will change the layout of the button for larger screens-->
                                    <div class=" d-none  d-lg-block">
                                        <div class="row">
                                            <div class="col-6 align-self-center centered_numbered">
                                                <span>@x</span>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                <div class="small_button_font justify-content-md-center">
                                                    ON
                                                </div>
                                                <div class="">
                                                    <div id="parentFirstNumber_@Html.Raw(2)_@Html.Raw(x)" class="toggle_rotate_270 ">
                                                        <i id="firstNumber_@Html.Raw(2)_@Html.Raw(x)" class="bi "></i>
                                                    </div>
                                                </div>
                                                <div class="small_button_font justify-content-md-center">
                                                    OFF
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- This will change the layout of the button for smaller screens-->
                                    <div class="d-lg-none">
                                        <div class="row">
                                            <div class="col-12 align-self-center">
                                                <span>@x</span>
                                            </div>

                                            <div class="col-12">
                                                <div id="onoffnumber_@Html.Raw(2)_@Html.Raw(x)" class="on_off_label">ON</div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
</div>
</div>

<!-- Operations Modal -->
<div class="modal fade my_modal" id="operationsModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Operations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <button id="add_operation_button" class="unselectable operation_button">

                                <!-- This will change the layout of the button on larger screens-->
                                <div class="d-none  d-lg-block">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <i class="bi bi-plus-lg"></i>
                                                </div>
                                                <div class="row">
                                                    <div class="operation_button_label">Add</div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <p class="on_label">ON</p>
                                                </div>
                                                <div class="toggle_rotate_270 toggle_margin">
                                                    <i id="add_current_toggle" class="bi"></i>
                                                </div>
                                                <div>
                                                    <p class="off_label">OFF</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- This will change the layout of the button for smaller screens-->
                                <div class="d-lg-none">
                                    <div class="row">
                                        <div class="col-4 align-self-center operation_button_large_font">
                                            <i class="bi bi-plus-lg"></i>
                                        </div>

                                        <div class="col-8">
                                            <span id="onoff_add" class="on_off_label operation_button_large_font"></span>
                                        </div>

                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-6">
                            <button id="subtract_operation_button" class="unselectable operation_button">

                                <!---->
                                <!-- This will change the layout of the button on larger screens-->
                                <div class="d-none  d-lg-block">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <i class="bi bi-dash-lg"></i>
                                                </div>
                                                <div class="row">
                                                    <div class="operation_button_label">Subtract</div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <p class="on_label">ON</p>
                                                </div>
                                                <div class="toggle_rotate_270 toggle_margin">
                                                    <i id="subtract_current_toggle" class="bi"></i>
                                                </div>
                                                <div>
                                                    <p class="off_label">OFF</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- This will change the layout of the button for smaller screens-->
                                <div class="d-lg-none">
                                    <div class="row">
                                        <div class="col-4 align-self-center operation_button_large_font">
                                            <i class="bi bi-dash-lg"></i>
                                        </div>

                                        <div class="col-8">
                                            <span id="onoff_sub" class="on_off_label operation_button_large_font"></span>
                                        </div>

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="multiply_operation_button" class="unselectable operation_button">

                                <!---->
                                <!-- This will change the layout of the button on larger screens-->
                                <div class="d-none  d-lg-block">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <i class="bi bi-x-lg"></i>
                                                </div>
                                                <div class="row">
                                                    <div class="operation_button_label">Multiply</div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <p class="on_label">ON</p>
                                                </div>
                                                <div class="toggle_rotate_270 toggle_margin">
                                                    <i id="multiply_current_toggle" class="bi"></i>
                                                </div>
                                                <div>
                                                    <p class="off_label">OFF</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- This will change the layout of the button for smaller screens-->
                                <div class="d-lg-none">
                                    <div class="row">
                                        <div class="col-4 align-self-center operation_button_large_font">
                                            <i class="bi bi-x-lg"></i>
                                        </div>

                                        <div class="col-8">
                                            <span id="onoff_mult" class="on_off_label operation_button_large_font"></span>
                                        </div>

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="divide_operation_button" class="unselectable operation_button">

                                <div class="d-none  d-lg-block">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row divide_icon">
                                                    <i class="bi bi-percent"></i>
                                                </div>
                                                <div class="row">
                                                    <div class="operation_button_label">Divide</div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <p class="on_label">ON</p>
                                                </div>
                                                <div class="toggle_rotate_270 toggle_margin">
                                                    <i id="divide_current_toggle" class="bi"></i>
                                                </div>
                                                <div>
                                                    <p class="off_label">OFF</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- This will change the layout of the button for smaller screens-->
                                <div class="d-lg-none">
                                    <div class="row">
                                        <div class="col-4 align-self-center operation_button_large_font divide_icon">
                                            <i class="bi bi-percent"></i>
                                        </div>

                                        <div class="col-8">
                                            <span id="onoff_divide" class="on_off_label operation_button_large_font"></span>
                                        </div>

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-12">
                            <button id="swap_operation_button" class="unselectable operation_button">

                                <!---->
                                <!-- This will change the layout of the button on larger screens-->
                                <div class="d-none  d-lg-block">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="row">
                                                    <i class="bi bi-arrow-left-right"></i>
                                                </div>
                                                <div class="row">
                                                    <div class="operation_button_label">Swap</div>
                                                </div>
                                            </div>
                                            <div class="col-4 explanation_text">
                                                <p>This setting will randomly swap the numbers in the addition and multiplication problems</p>
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    <p class="on_label">ON</p>
                                                </div>
                                                <div class="toggle_rotate_270 toggle_margin">
                                                    <i id="swap_current_toggle" class="bi"></i>
                                                </div>
                                                <div>
                                                    <p class="off_label">OFF</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- This will change the layout of the button for smaller screens-->
                                <div class="d-lg-none">
                                    <div class="row">
                                        <div class="col-4 align-self-center operation_button_large_font">
                                            <i class="bi bi-arrow-left-right"></i>
                                        </div>
                                        <div class="col-8">
                                            <span id="onoff_swap" class="on_off_label operation_button_large_font"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modify User - Name Modal -->
<div class="modal fade my_modal" id="chooseNameModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Choose A Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <br />
                    <div class="row">
                        <div class="col-md-9">
                            <input class="large_input_field" type="text" id="newUsernameTextBox" name="newUsernameTextBox" placeholder="Enter your first name..." autofocus />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <span id="nameErrorSpan" class="error_text"> </span>
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeUsernameModalButton" class="btn btn-secondary">Cancel</button>
                <button type="button" id="setNewUsernameButton" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- New User - Avatar modal   -->
<div class="modal fade my_modal" id="chooseAvatarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Choose Your Avatar</h1>

                <input style="margin-right: 5px; float:right;" type="text" id="emojiSearchBox" name="emojiSearchBox" placeholder="Search Emojis" />
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="scrollable_area">
                            <div class="row">
                                @foreach (var item in Model.EmojiList)
                                {
                                    <button id="emoji_@Html.Raw(@item.Id)_button" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 col-xxl-1 emoji_font emoji_button" name="@item.Description">@Html.Raw(@item.Code)</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span id="avatarErrorSpan" class="error_text"> </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancelAvatarButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="setAvatarButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- New User Color Modal-->
<div class="modal fade my_modal" id="chooseColorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Your Color</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row">
                        <div>
                            <div class="row">
                                @foreach (var item in Model.Colors)
                                {
                                    <div class="col-3 ">
                                        <button class="color_button not_chosen_color_border" name="@item">
                                                <div class="col-10 color_choice" style="background-color: @item"></div>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                <button id="setColorButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Message Modal-->
<div class="modal fade my_modal" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="MessageModalTitle" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <span id="MessageModalBodyText" class=""></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
